/*
 *CSS defined by Antony
 */

.form-post-item {
	float: none;
	margin: 0 auto;
	text-align: left;
}

.table tbody {
	text-align: left;
}

ul > li {
	text-align: left;
}

.jumbotron {
	background-color: #7AC50A;
}

#item-tooltip {
	text-align: left;
}