/*
 *CSS defined by Antony
 */

.form-post-item {
	float: none;
	margin: 0 auto;
	text-align: left;
}

.table tbody {
	text-align: left;
}

ul > li {
	text-align: left;
}

.jumbotron {
	background-color: #A8CC36;
}

#item-tooltip {
	text-align: left;
	color: #000;
}

#itemlist-block {
	color: #000;
}

#itemlist-block .datagrid {
	background-color: #fff;
	color: #000;
}

#itemlist-block input {
	height: auto;
}