{{set . "title" "FreeCycle"}}
{{append . "moreStyles" "css/cover.css"}}
{{template "header.html" .}}

		<div class="site-wrapper">
		
			<div class="site-wrapper-inner">
			
				<div class="cover-container">
{{template "navigation.html" .}}
				</div>
				
				<div class="container">
					<form action="{{url "Post.New"}}" method="post" role="form" class="form-post-item col-xs-12 col-md-6">
						<h2>Information about your item</h2>
						{{with $field := field "item.Title" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Item Name</label>
							<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Give a title to this listing..." required autofocus>
						</div>
						{{end}}
						
						{{with $field := field "item.Description" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Description</label>
							<textarea name="{{$field.Name}}" rows="3" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Description something about the item, your contact method, constraints to give..."></textarea>
						</div>
						{{end}}
						
						{{with $field := field "item.Tags" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Tags</label><p class="help-block">Type any keyword to describe this item, then press [Enter].</p>
							<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" data-role="tagsinput" class="form-control" placeholder="Keyword..." required>
						</div>
						{{end}}
						
						{{with $field := field "item.Status" .}}
						<input type="hidden" name="{{$field.Name}}" value="A">
						{{end}}
						
						{{with $field := field "item.Condition" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Condition</label>
							<div class="input-group">
								<input type="number" min="1" max="100" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control" placeholder="80" required>
								<span class="input-group-addon">%</span>
							</div>
						</div>
						{{end}}
						
						{{with $field := field "item.Duration" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Duration</label>
							<div class="input-group">
								<input type="number" min="5" value="{{$field.Flash}}" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control" placeholder="7">
								<span class="input-group-addon">day(s)</span>
							</div>
						</div>
						{{end}}
						
						{{with $field := field "item.Handover" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Handover Method</label>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default">
									<input type="radio" name="{{$field.Name}}" value="F">In Face
								</label>
								<label class="btn btn-default">
									<input type="radio" name="{{$field.Name}}" value="D">Delivery
								</label>
							</div>
						</div>
						{{end}}
						
						{{with $field := field "item.Location" .}}
						<div class="form-group" id="pickupLocationBlock">
							<label for="{{$field.Name}}">Pickup Location</label>
							<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Describe the pickup location...">
						</div>
						{{end}}
						
						{{with $field := field "item.Delivery" .}}
						<div class="form-group" id="deliveryBlock">
							<label for="{{$field.Name}}">Delivery Method</label>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default">
									<input type="radio" name="{{$field.Name}}" value="P">Postal
								</label>
								<label class="btn btn-default">
									<input type="radio" name="{{$field.Name}}" value="C">Courrier
								</label>
							</div>
						</div>
						{{end}}
						
						{{with $field := field "item.ContactMethod" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Contact Method</label>
							<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Briefly provide your prefered contact method...">
						</div>
						{{end}}
						
						{{with $field := field "item.Contact" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Your Contact Name</label>
							<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Your contact name...">
						</div>
						{{end}}
						
						{{with $field := field "item.Email" .}}
						<div class="form-group">
							<label for="{{$field.Name}}">Contact E-Mail</label><p class="help-block">Our site will never expose your email to any party</p>
							<input type="email" name="{{$field.Name}}" id="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" required placeholder="Please provide your email...">
						</div>
						{{end}}
<!--
	Owner         uint   // owner ID if it is registered (optional subscription)
-->
						
						
						<!-- TODO: reCAPTCHA by Google on every post form -->
						
						
						<button type="submit" class="btn btn-default">Done</button>
					</form>
				</div>
				
				<div class="cover-container">
					<div class="mastfoot">
						<div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#pickupLocationBlock').hide();
				$('#deliveryBlock').hide();
				
				$('input[name="item.Handover"]').change(function() {
					if ($(this).val() == 'F') {
						$('input[name="item.Delivery"]').parent().removeClass('active');
						$('input[name="item.Delivery"]').parent().prop('disabled', true);
						$('#deliveryBlock').hide();
						$('#pickupLocationBlock').show();
					}
					else {
						$('#deliveryBlock').show();
						$('#pickupLocationBlock').hide();
					}
				});
			});
		</script>

{{template "footer.html" .}}
