{{set . "title" "FreeCycle"}}
{{append . "moreStyles" "css/cover.css"}}
{{template "header.html" .}}

		<div class="site-wrapper">
		
			<div class="site-wrapper-inner">
			
				<div class="cover-container">
{{template "navigation.html" .}}

					<div class="inner">	
						<div class="alert alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<div class="cover">
								<h1 class="cover-heading">Free to Give and Get!</h1>
								<p class="lead">Have something still usable to dump? Dumping furniture in good condition is too wasting and costs you money to dump? Why not trying to pass it to someone before throwing still usable thing? We make too much waste daily and our landfills are running out. We can reduce waste from the source!</p>
								<p class="lead">
									<a href="/App/Objectives" class="btn btn-lg btn-default">Our Objectives</a>
								</p>
							</div>
						</div>

						<table class="table table-hover" id="itemlist">
							<caption><h2>Latest Items</h2></caption>
						</table>
					</div>
							
					<div class="mastfoot">
						<div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$.post(
					'/Post/List', 
					function(data) {
						for (item in data) {
							var newRow = $("<tr></tr>");
							var newTitleCol = $("<td></td>").append(item.Title);
							var newConditionCol = $("<td></td>").append(item.Condition);
							var newLocationCol = $("<td></td>").append(item.Location);
							newRow.append(newTitleCol).append(newConditionCol).append(newLocationCol);
							$("#itemlist").append(newRow);
						}
					}, 
					'json');
			});
		</script>

{{template "footer.html" .}}
