{{set . "title" "FreeCycle"}}
{{append . "moreStyles" "css/cover.css"}}
{{template "header.html" .}}

		<div class="site-wrapper">
		
			<div class="site-wrapper-inner">
			
				<div class="cover-container">
{{template "navigation.html" .}}

					<div class="inner">
						<div class="cover">
							<h1 class="cover-heading">Our Objectives</h1>
							<p class="lead">
								<ul>
									<li>Encourage re-use</li>
									<li>Create the atmosphere and habit of passing usable things, and getting usable thing apart from buying all the time</li>
									<li>Reduce waste</li>
									<li>Make people think twice before throwing and buying</li>
								</ul>
							</p>
						</div>
					</div>
							
					<div class="mastfoot">
						<div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div>

{{template "footer.html" .}}
